<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>/User/elliot/Desktop/foo.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file : %line] %msg%n</Pattern>
		</layout>
	</appender>
	<logger name="org.elliot.test" additivity="false">
		<appender-ref ref="file" />
	</logger>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>